{% extends '::Layout.html.twig' %}

{% block container %}
	{% render(controller("DashboardTicketsBundle:Menu:menu", { 'route': app.request.attributes.get('_route') })) %}
	<div class="col-sm-8">
		{% block content %}yo{% endblock %}
	</div>
{% endblock %}