{% extends 'DashboardTicketsBundle::layout.html.twig' %}

{% block content %}
	<form action="{{ path('dashboard_tickets_add') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}

	    <input type="submit" />
	</form>
{% endblock %}