{% extends 'DashboardTicketsBundle::layout.html.twig' %}

{% block content %}
	{% for item in tickets %}
		<div class="ticket">
			<span class="col-sm-2 col-sm-offset-2">{{ item.categoryId }}-{{ item.id }}</span>
			<span class="col-sm-1">{{ item.status }}</span>
			<span class="col-sm-2">{% if item.adminId == 0 %}Pas attribué{% endif %}</span>
			<span class="col-sm-3">{{ item.title }}</span>
		</div>
	{% endfor %}
{% endblock %}